<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Check locations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/admin-navigation :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/admin-navigation :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container ">
                <div th:replace="fragments/alert :: alert"></div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <form th:action="@{/admin/exhibitions/new/details}" th:object="${datesLocations}" method="get">
                            <div class="row g-2 py-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input th:field="*{startDate}" type="date" class="form-control" id="start" required>
                                        <label th:text="#{start_date}" for="start">Start date:</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input th:field="*{endDate}" type="date" class="form-control" id="end" required>
                                        <label th:text="#{end_date}" for="end">End date:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 py-3">
                                <div class="col-md">
                                    <button th:text="#{check_locations}" class="btn btn-outline-info col-12" type="submit">Check available locations</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>