<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/admin-navigation :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/admin-navigation :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:replace="fragments/alert :: alert"></div>
            <div class="row py-2">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 th:text="#{total_exhibitions}" class="card-title">Total exhibitions</h5>
                            <h1 th:text="${totalExhibitions}" class="card-text">00</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 th:text="#{users_admins}" class="card-title">Users / Admins</h5>
                            <h1 th:text="${totalUsers} + ' / ' + ${totalAdmins}" class="card-text">00</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 th:text="#{total_ticket_purchases}" class="card-title">Total ticked purchases</h5>
                            <h1 th:text="${totalTicketPurchases}" class="card-text">00</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 th:text="#{profit}" class="card-title">Profit</h5>
                            <h1 th:text="${profit}" class="card-text">00</h1>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>