<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exhibition details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/navigation :: navbar"></div>
    <div th:replace="fragments/alert :: alert"></div>
    <div class="container">
        <div class="card">
            <h5 th:text="${exhibition.theme}" class="card-header">Theme</h5>
            <div class="card-body">
                <h5 th:text="${exhibition.startDate} + ' ' + ${exhibition.endDate}" class="card-title">Duration</h5>
                <p th:text="${exhibition.openingHour} + ' ' + ${exhibition.closingHour}" class="card-text">Working hours</p>
                <ul class="list-unstyled" th:each="location:${exhibition.locations}">
                    <li th:text="${location.name}">Location</li>
                </ul>
                <p th:text="${exhibition.ticketPrice}" class="card-text">Ticket price</p>
                <a th:text="#{buy}" th:href="'/buy?id=' + ${exhibition.id}" role="button" class="btn btn-outline-success">Buy ticket</a>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>