<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exhibition details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<body class="text-center">
    <div th:replace="fragments/navigation :: navbar"></div>
    <div th:replace="fragments/alert :: alert"></div>
    <div class="container d-flex justify-content-center align-items-center" style="height: 85vh;">
        <div class="row">
            <div >
                <div class="card">
                    <h5 th:text="${exhibition.theme}" class="card-header">Theme</h5>
                    <div class="card-body">
                        <h5 th:text="${exhibition.startDate} + ' - ' + ${exhibition.endDate}" class="card-title">Duration</h5>
                        <p th:text="#{working_hours}" class="card-text">Working hours:</p>
                        <p th:text="${exhibition.openingHour} + ' - ' + ${exhibition.closingHour}" class="card-text">Working hours</p>
                        <p th:text="#{locations}" class="card-text">Locations:</p>
                        <ul class="list-unstyled" th:each="location:${exhibition.locations}">
                            <li th:text="${location.name}">Locations</li>
                        </ul>
                        <p th:text="#{ticket_price}" class="card-text">Ticket price:</p>
                        <p th:text="${exhibition.ticketPrice}" class="card-text">Ticket price</p>
                        <form th:action="@{/cart/add(id=${id},quantity=${quantity})}" method="get" class="row g-3">
                            <div class = "col-auto">
                                <button th:text="#{add_to_cart}" type="submit" class="btn btn-outline-success">Add to cart</button>
                            </div>
                            <div class = "col-sm-2">
                                <input  th:name="quantity" type="number" class="form-control sm-2" value="1" id="quantity" min="1" step="1" required>
                                <input th:name="id" th:value="${exhibition.id}" hidden>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>