<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/navigation :: navbar"></div>
    <div th:replace="fragments/alert :: alert"></div>
    <form th:action="@{/exhibitions}" th:object="${search}" method="post" class="bg-light">
        <div class="container">
            <div class="row g-2 py-3">
            <div class="col-md">
                <div class="form-floating">
                    <input th:field="*{from}" name="from" type="date" class="form-control" id="start">
                    <label th:text="#{search_from}" for="start">Search from:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input th:field="*{to}" name="to" type="date" class="form-control" id="end">
                    <label th:text="#{search_to}" for="end">Search to:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select th:field="*{sort}" class="form-select" id="floatingSelect" aria-label="Sort">
                        <option th:each="sortOpt : ${T(com.sliwinski.exhibitions.service.utility.SortType).values()}" th:text="#{${sortOpt}}" th:value="${sortOpt}">Sort options</option>
                    </select>
                    <label th:text="#{sort}" for="floatingSelect">Sort by:</label>
                </div>
            </div>
            <div class="col-md d-flex">
                <button th:text="#{apply}" class="btn btn-outline-secondary ms-2" type="submit">Apply</button>
                <button th:text="#{reset}" onclick="location.href='?resetFilter=true'" class="btn btn-outline-secondary ms-2 text-center" type="button">Reset</button>
                <button th:text="#{cart}" onclick="location.href='/cart'" class="btn btn-outline-success ms-2 text-center" type="button">cart</button>
            </div>
        </div>
        </div>
    </form>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th th:text="#{theme}" scope="col">Theme</th>
            <th th:text="#{duration}" scope="col">Duration</th>
            <th th:text="#{working_hours}" scope="col">Working hours</th>
            <th th:text="#{ticket_price}" scope="col">Ticket price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exhibition:${exhibitions}">
            <th>
                <form th:action="@{/cart/add(id=${id},quantity=${quantity})}" method="get" class="row g-3">
                    <div class = "col-auto">
                        <button th:text="#{add_to_cart}" type="submit" class="btn btn-outline-success">Add to cart</button>
                    </div>
                    <div class = "col-sm-2">
                        <input  th:name="quantity" type="number" class="form-control sm-2" value="1" id="quantity" min="1" step="1" required>
                        <input th:name="id" th:value="${exhibition.id}" hidden>
                    </div>
                </form>
            </th>
            <td th:text="${exhibition.theme}">Theme</td>
            <td>
                <ul class="list-unstyled">
                    <li th:text="${exhibition.startDate}"></li>
                    <li th:text="${exhibition.endDate}"></li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li th:text="${exhibition.openingHour}"></li>
                    <li th:text="${exhibition.closingHour}"></li>
                </ul>
            </td>
            <td th:text="${exhibition.ticketPrice}">Ticket Price</td>
            <td>
                <a th:text="#{details}" th:href="'/exhibitions/' + ${exhibition.id}" class="btn btn-outline-primary" role="button">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/alert :: script"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>