<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/navigation :: navbar"></div>
    <div th:replace="fragments/alert :: alert"></div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{order_id}" scope="col">Order ID</th>
                    <th th:text="#{timestamp}" scope="col">Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order:${orders}">
                    <td th:text="${order.id}">Order ID</td>
                    <td th:text="${order.timestamp}">Timestamp</td>
                </tr>
                </tbody>
            </table>
        </div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>